[submodule "module-5/keepass_exploit/app/keepass-password-dumper"]
	path = module-5/keepass_exploit/app/keepass-password-dumper
	url = https://github.com/mihaiandreineacsu/keepass-password-dumper.git
