[submodule "module-5/keepass-exploit/app/keepass-password-dumper"]
	path = module-5/keepass-exploit/app/keepass-password-dumper
	url = https://github.com/mihaiandreineacsu/keepass-password-dumper.git
[submodule "module-5/keepass-exploit/app/keepass2john"]
	path = module-5/keepass-exploit/app/keepass2john
	url = https://github.com/mihaiandreineacsu/keepass2john.git
[submodule "module-5/keepass-exploit/app/KeePass-dump-py"]
	path = module-5/keepass-exploit/app/KeePass-dump-py
	url = https://github.com/mihaiandreineacsu/KeePass-dump-py.git
