# macOS Filesystem optimization
.DS_Store

# python
.pyc
.venv
venv
__pycache__

# environment variables
*.env*

**/.vscode/*

**/*.csv
**/*.pdf

**/downloads/*

**/dumps/*

**/possible-pwds/*

**/*.sln